/Java/Leccion2/EjercicioCiclo10/nbproject/private/
/Java/Leccion2/EjercicioCiclo10/build/
/Java/Leccion2/EjercicioCiclos11/nbproject/private/
/Java/Leccion2/EjercicioCiclos11/build/
/Java/Leccion2/EjercicioCiclos12/nbproject/private/
/Java/Leccion2/EjercicioCiclos12/build/
/Java/Leccion5/Encapsulamiento/nbproject/private/
/Java/Leccion5/Encapsulamiento/build/
/Java/Leccion5/ContextoEstatico/nbproject/private/
/Java/Leccion5/ContextoEstatico/build/
/Java/Leccion6/Herencia/nbproject/private/
/Java/Leccion6/Herencia/build/
